<!DOCTYPE html>
<html lang="en">

<head>
  <title>TGIF</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="CSS/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <div id="header">
    <img src="/images/logo.jpeg" alt="LOGO TGIF">
    <h1>Transparent Government in Fact</h1>
  </div>
  <nav class="navbar navbar-inverse" id="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
        <a class="navbar-brand" href="#"></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="home-page.html">Home</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="home-page.html">Congres 113 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="senate-data.html">Senate</a></li>
              <li><a href="house-page.html">House</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Attendance <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="senate-attendance-starter.html">Senate</a></li>
              <li class="active"><a href="house-attendance-starter-page.html">House</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Party Loyalty<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="senate-party-loyalty-starter.html">Senate</a></li>
              <li><a href="house-party-loyalty-starter-page.html">House</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="mailto:tgif@tgif.org"><span class="glyphicon glyphicon-envelope"></span> Contact Us</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <header>
    <div>
    </div>
  </header>
  <!--Table container-->
  <div class="container">
    <div id = "app">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <div div class="col-sm-5">
          <h2>Attendance</h2>
          <p>The Constitution specifies that a majority of members constitutes a quorum to do business in each house. Representatives and senators rarely force the presence of a quorum by demanding quorum calls; thus, in most cases, debates continue even if a majority is not present.</p>

          <p>The Senate uses roll-call votes; a clerk calls out the names of all the senators, each senator stating "aye" or "no" when his or her name is announced. The House reserves roll-call votes for the most formal matters, as a roll-call of all 435 representatives takes quite some time; normally, members vote by electronic device. In the case of a tie, the motion in question fails. In the Senate, the Vice President may (if present) cast the tiebreaking vote.</p>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5">
          <h2>House at a Glance</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Party</th>
                <th>Number of Reps</th>
                <th>% Voted with Prty</th>
              </tr>
            </thead>
            <tbody id="app1">
              <tr v-for="statis in statistics">
                <td>{{statis.party}}</td>
                <td>{{statis.num}}</td>
                <td>{{statis.votes.toFixed(1)}}</td>
              </tr>
              <tr class = "tr"> 
                <td>Total</td>
                <td>{{statistics[0]["num"]+statistics[1]["num"]+statistics[2]["num"]}}</td>
                <td>{{statistics[2]["average"].toFixed(2)}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
        <div class="col-sm-1"></div>
      </div>
      <div class="row">
       <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <div class="col-sm-6">
            <h2>Least Engaged (Bottom 10% Attendance)</h2>
            <table id = "table" class="table">
              <thead id = "thead">
                <tr>
                  <th>Name</th>
                  <th>Number of Missed Votes</th>
                  <th>% Missed</th>
                </tr>
              </thead>
              <tbody id="tbody">
                <tr v-for="least in leastEngegadMembers">
                <td><a v-bind:href="least.url" target="_blank">{{least.first_name}} {{least.middle_name}} {{least.last_name}}</a></td>
                <td>{{least.missed_votes}}</td>
                <td>{{least.missed_votes_pct.toFixed(2)}}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <!--<div class="col-sm-2"></div>-->
          <div div class="col-sm-6">
            <h2>Most Engaged (Top 10% Attendance)</h2>
            <table id = "table" class="table">
              <thead id = "thead">
                <tr>
                  <th>Name</th>
                  <th>Number of Missed Votes</th>
                  <th>% Missed</th>
                </tr>
              </thead>
              <tbody id = tbody>
                 <tr v-for="most in mostEngagedMembers">
                <td><a v-bind:href="most.url" target="_blank">{{most.first_name}} {{most.middle_name}} {{most.last_name}}</a></td>
                <td>{{most.missed_votes}}</td>
                <td>{{most.missed_votes_pct.toFixed(2)}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-sm-1"></div>    
    </div>
  </div>
  </div>
  <div class="footer">
    <p>@ 2016 TGIF | All Rights Reserved</p>
  </div>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="statistics.js"></script>
</body>

</html>
